@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

.train{
    
    display: flex;
    margin-top: 5rem;
    /* position: relative; */
    /* background-color: yellow; */
    width: 100%;
    justify-content: space-between;
    height: 30rem;
}
.train-box{
    /* position: fixed; */
    width: 70%;
    height: auto;
    left: 0px;
}

.content-box{
    top: 30%;
    padding-top: 60px;
    font-size: 80px;
    font-weight: bolder;
    width: 50%;
}

.content-1{
    /* position: fixed; */
    right: 0;
}
.content-2{
    /* position: fixed; */
    right: 0;
}






